.game {
    display: inline-block;
    overflow: hidden;
    height: 657px;
    width: 1349px;
    position: relative;
}

    .space {
    background-image: url('../img/bcg/main-bcg.png');
    height: 100%;
    width: 100%;
    -webkit-animation: slide 30s linear infinite;   
    }   

    @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -3824px 0; }
    }

#playerShip {
    display: inline-block;
    margin-top: 300px;
    margin-left: 50px;
    float: left;
    width: 66px;
    height: 50px;
    transform: rotate(90deg);
    position: absolute;   
}