.game {
    display: inline-block;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

    .space {
    background-image: url('../img/bcg/main-bcg.png');
    height: 655px;
    width: 1365px;
    -webkit-animation: slide 30s linear infinite;   
    }   

    @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -3824px 0; }
    }

.ship {
    display: inline-block;
    float: left;
    transform: rotate(90deg);
    position: absolute;   
}

.laser {
    display: inline-block;
    float: left;
    transform: rotate(90deg);
    position: absolute; 
}